body {
  margin:0px;
  background-color:rgba(246, 247, 249, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1882px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  overflow:hidden;
}
#u61_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
}
#u61_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  font-size:19px;
  color:#FFFFFF;
  line-height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u63_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u63.mouseOver {
}
#u63_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u63.mouseDown {
  opacity:0.8;
}
#u63_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u63.selected {
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u64_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u64.mouseOver {
}
#u64_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u64.mouseDown {
  opacity:0.8;
}
#u64_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u64.selected {
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u65_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u65.mouseOver {
}
#u65_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u65.mouseDown {
  opacity:0.8;
}
#u65_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u65.selected {
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  line-height:36px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1126px;
  top:0px;
}
#u67_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  background-image:none;
}
#u67_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  color:#CCCCCC;
  line-height:28px;
}
#u68_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u68.mouseOver {
}
#u68_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u68.mouseDown {
  opacity:0.8;
}
#u68_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u68.selected {
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:50px;
  color:#CCCCCC;
  line-height:28px;
}
#u69_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u69.mouseOver {
}
#u69_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u69.mouseDown {
  opacity:0.8;
}
#u69_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u69.selected {
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:8px;
  width:35px;
  height:35px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:0px;
  width:200px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u71_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u71.mouseOver {
}
#u71_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u71.mouseDown {
  opacity:0.8;
}
#u71_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  line-height:28px;
}
#u71.selected {
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1878px;
  height:899px;
}
#u72_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1878px;
  height:899px;
  overflow:auto;
}
